h1.título{
    text-align: center;
    color: brown;
}
html{
    background-color: wheat;
}
p.carta{
    padding-left: 43px;
}
p.cafe{
    float: center;
    text-align: center;
}
p.cafetxt{
    padding-left: 930px;
}